[project]
	description = jee arquillian testing without pain
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Maksim Kostromin (daggerok)
[access "refs/for/refs/*"]
	read = group user/Maksim Kostromin (daggerok)
	push = group user/Maksim Kostromin (daggerok)
	label-Code-Review = -2..+2 group user/Maksim Kostromin (daggerok)
	label-Verified = -1..+1 group user/Maksim Kostromin (daggerok)
	rebase = group user/Maksim Kostromin (daggerok)
	removeReviewer = group user/Maksim Kostromin (daggerok)
	submit = group user/Maksim Kostromin (daggerok)
[access "refs/heads/*"]
	read = group user/Maksim Kostromin (daggerok)
	create = group user/Maksim Kostromin (daggerok)
	push = +force group user/Maksim Kostromin (daggerok)
	pushMerge = group user/Maksim Kostromin (daggerok)
[access "refs/tags/*"]
	push = +force group user/Maksim Kostromin (daggerok)
	pushTag = group user/Maksim Kostromin (daggerok)
	pushSignedTag = group user/Maksim Kostromin (daggerok)
